body {
    font-size: 16px;
    color: #fff;
    background-color: #3f0e19;
    font-family: 'Teko' , sans-serif;
}

.navbar-light {
    background-color: #fec128;
}

#brand-logo {
    background: url('../img/brand-logo.jpg') ;
    width: 150px;
    height: auto;
    margin: 10px 15px 10px 0;
    object-fit: contain;
}
